<%- include('partials/header') -%>
<body class="bg-dark">
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <a href="/feed" class="navbar-brand text-warning fs-1">betaGram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
      </div>
    </div>
  </nav>
  <!-- END Navbar -->

  <section class="bg-dark d-flex flex-wrap justify-content-around">
    <% for(i = 0; i < 4; i++) {%>
      <figure>
        <a class="text-decoration-none text-danger" href="/post/<%= posts[i]._id%>">
          <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <video id="doc-player" loop muted poster preload class="cld-video-player img-fluid" src="<%= posts[i].media %>"></video>
            <div class="card-body">
              <p class="card-text fw-bold"><%= posts[i].likes %> likes</p>
              <p class="card-text "><%= posts[i].caption %></p>
            </div>
          </div>
        </a>
      </figure>
    <% } %>
  </section>

<%- include('partials/footer') -%>