<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <div>
                <video id="doc-player" style="max-width: 40vw"  controls  muted  class="cld-video-player cld-fluid" src="<%= posts[i].media %>"></video>
              </div>
                <!-- <source src="<%= posts[i].media %>"> -->
            </a>
            <p>
              <%= posts[i].caption  %>
            </p>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>